FLASK_SECRET_KEY=your_secret_key_here
DATABASE_URL=sqlite:///portfolio.db
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_KEY=your_key
CLOUDINARY_SECRET=your_secret
MAILER_ADMIN_NAME=Admin
MAILER_ADMIN_EMAIL=admin@example.com
MAILER_API_KEY=your_mailer_key
SITE_LASTMOD=2026-08-16
