Flask==3.1.3
flask_sqlalchemy==3.1.1
Flask_Login==0.6.3
Flask_WTF==1.2.2
WTForms==3.2.1
Bootstrap_Flask==2.5.0
Flask_Quill==0.2.0
SQLAlchemy==2.1.0b1
Werkzeug==3.1.6
Gunicorn==25.1.0
Psycopg==3.3.3
mailersend==2.0.0
html2text==2025.4.15
email-validator==2.3.0